.diagnostic-card {
    background-color: #e8e8e8;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
  }
  
  /* Estilos de las secciones */
  .section {
    margin-bottom: 20px;
  }
  
  .section-label {
    display: block;
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
  }
  
  /* Estilos de las subsecciones */
  .subsection {
    margin-bottom: 15px;
  }

  .subsection-label {
    display: block;
    font-size: 16px;
    color: #0090bc;
    margin-bottom: 5px;
    font-weight: 400;
    background-color: #3fd2ff32;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
  }
  
  .textarea {
    width: 99%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    font-size: 16px;
  }    