.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .modal {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px; /* Aumentado un poco para mejorar el espaciado */
  }
  
  .modal-geriatrico{
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100% !important;
    max-width: 900px; /* Ajusta el ancho m치ximo */
    max-height: 80vh; /* No ocupar m치s del 80% de la altura de la pantalla */
    overflow-y: auto; /* Habilita el scroll si hay mucho contenido */
  text-align: center;
  }

  .modal-content-geriatrico{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300% !important;
    max-width: 300px; /* Ajusta el ancho m치ximo */
    max-height: 80vh; /* No ocupar m치s del 80% de la altura de la pantalla */
    overflow-y: auto; /* Habilita el scroll si hay mucho contenido */
    text-align: left;
  }
  
  .modal-img{
    display: flex;
    justify-content: center;
  }
  