.turnos-content {
    padding: 2rem;
    background-color: #f8f9fa;
    min-height: 100vh;
  }
  .turnos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
  }
  .turnos-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    padding: 1.5rem;
  }
  .turnos-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  .turnos-header .turnos-title {
    font-size: 1.2rem;
    color: #4a5568;
  }

  .turnos-header .turnos-date {
    color: #718096;
    font-size: 0.9rem;
  }

  .actividades-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 0.5rem;
  }
  
  .actividad-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: #f7fafc;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin-bottom: 1rem;
  }
  .actividad-item .span {
    font-size: 0.9rem;
    color: #2d3748;
  }
  .resumen-turnos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }
  
  .resumen-turnos .horas {
    font-size: 0.9rem;
    color: #718096;
  }
  
  .resumen-turnos .total-horas {
    font-weight: 600;
    color: #2d3748;
  }
  .actividad-item .svg {
    font-size: 1.2rem;
    color: #4299e1;
  }
/* Estilos para la sección de turnos de la sede */
  .turnos-container-sede {
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  color: #4299e1;
}

.table td {
  color: #718096;
}
.table th, .table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  font-size: 14px;
  align-content: center;
}

.table thead {
  background-color: #f8f9fa;
  font-weight: bold;
}

.table tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}

.btn{
gap: 5px;
}

.btn-delete {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.btn-delete:hover {
  background-color: #d62828;
}

.btn-edit {
  background-color: #4299e1;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.btn-edit:hover {
  background-color: #376580;
}

.btn-history{
  background-color: #42e177;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.btn-history:hover {
  background-color: #38c66d;
}